# R project
inst/lib
.Rproj.user
src/*.o
src/*.so
src/*.dll
src/symbols.rds
.Rhistory
.RData
.DS_Store
README\.pdf
README\.html
README_files/*
R/RcppExports.R
src/RcppExports.cpp
man/*
inst/doc
.positai
